{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": ["@babel/plugin-proposal-class-properties"]
}

// {
//     "presets": [
//         "es2015",
//         "react",
//         "babel-preset-stage-0" 
//         ] 
// } 

// [
//     "@babel/preset-env",
//     {
//         "targets": {
//             "esmodules": true
//         }
//     }
// ]