.border-bottom-dashed {
    border-bottom-style: dashed;
}

.border-rad {
    border-radius: 5px;
}

.plus-minus {
    padding-left: 4px;
}
/* 
.header-border {
    border-bottom: 0.1ch solid var(--white);
} */