.hvr:hover {
    color: var(--green);
}

.hvrLink:hover {
    background-color: var(--green);
}

.hvrList:hover {
    color: var(--green);
    border-color: white;
}

.glow-btn:hover {
    background-color: var(--gray);
    color: var(--green);
    box-shadow: 0 5px 15px var(--green);
    border-color: var(--green);
}
