@import "basscss";
@import "basscss-colors";
@import "basscss-background-colors";
@import "./border";
@import "./colors";
@import "./fonts";
@import "./shame";
@import "./notfound";
@import "./footer";
@import "./hover";
@import "./searchbar.css";

:root {
    --h1: 70px;
    --h2: 50px;
}

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0px;
}

body {
    background-color: var(--black);    
    color: var(--white);
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.4em 0px;
    font-family: "Oswald", sans-serif;
}
