@import "basscss";
@import "basscss-colors";
@import "basscss-background-colors";
@import "./border";
@import "./fonts";
@import "./shame";

:root {
    --h1: 70px;
    --h2: 50px;
    --black: #222;
    --lime: #cdebdb;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    /* background-color: var(--lime); */
    background-color: aqua;    
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.4em 0px;
    font-family: "Oswald", sans-serif;
}
