.search-bar {
    width: 15rem; 
    height: 2rem; 
    background-color: var(--gray);
    color: var(--white);
    border: none;
    padding: 0.5rem;
}

.glow-bar:hover {
    box-shadow: 0 5px 10px var(--green);
    border-color: var(--green);
}